---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
  <h1>Projects</h1>
  <p>
    I sometimes have projects on the go.  These are sometimes worth checking out.
  </p>
</Layout>